.message-box {
	padding: 10px;
}
.message-box.debug {
	background-color: #337ab7;
}
.message-box.info {
	background-color: #d9edf7;
}
.message-box.success {
	background-color: #dff0d8;
}
.message-box.warning {
	background-color: #fcf8e3;
}
.message-box.error {
	background-color: #f2dede;
}
body {
	padding-top: 70px;
}
@media screen {
	.print-label{
		display: none;
	}
	#barcode {
		display: none;
	}
}

@media print {
	.print-label {
		height:2.00in;
		width:3.00in;
		border: 0px;
		font-size: 16px;
		display: block;
	}
	
	body {
		width: 3.00in;
		height: 2.00in;
		padding: 0px;
		margin: 5px;
		position: absolute;
	}
	.btn-group{
		display: none;
	}
	#serial_number {
		bottom: 5px;
		right: 10px;
		position: absolute;

	}
	#mac_address {
		bottom: 50px;
		right: 10px;
		position: absolute;

	}
	.label span {
		display: block;
		text-align: left;
	}
}