.message-box {
	padding: 10px;
}
.message-box.debug {
	background-color: #337ab7;
}
.message-box.info {
	background-color: #d9edf7;
}
.message-box.success {
	background-color: #dff0d8;
}
.message-box.warning {
	background-color: #fcf8e3;
}
.message-box.error {
	background-color: #f2dede;
}
body {
	padding-top: 70px;
}
@media screen {
	.label {
		width: 3.00in;
		height: 2.00in;
		background-color: gray;
	}
}

@media print {
	html,body {
		width: 3.00in;
		height: 2.00in;
	}
	.btn-group{
		display: hidden;
	}
}