<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Inventory</title>
        {% load staticfiles %}
          <link rel="icon" href="{% static 'inventory/favicon.ico' %}" />
        	<!-- Latest compiled and minified CSS -->
		      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

		      <!-- Optional theme -->
		      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
          <!-- DataTables CSS File -->
          <link rel="stylesheet" href="http://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" />
          <!-- Datatables Responsive CSS -->
          <link rel="stylesheet" href="http://cdn.datatables.net/responsive/1.0.6/css/dataTables.responsive.css" />
          <!-- Custom CSS File -->
          <link rel="stylesheet" href="{% static 'inventory/style.css' %}" />
    </head>

    <body>
    	<div class="container-fluid">
    	<nav class="navbar navbar-default navbar-fixed-top">
  			<div class="container-fluid">
   				<div class="navbar-header">
   					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-bar">
        				<span class="sr-only">Toggle navigation</span>
       					<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
      				</button>
      				<a class="navbar-brand" href="{% url 'inventory:student_index' %}">
        				<img alt="Brand" width="17px" height="20px" src="http://www.keansburg.k12.nj.us/cms/lib02/NJ01001933/Centricity/Domain/777/New%20Titan%20KT.png">
      				</a>
    			</div>
    			<div class="collapse navbar-collapse" id="navigation-bar">
    				<ul class="nav navbar-nav">
    					<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Students <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{% url 'inventory:student_index' %}">All Students</a></li>
                  <li><a href="{% url 'inventory:student_create' %}">New Student</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Devices <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{% url 'inventory:device_search' %}">Device Search</a></li>
                  <li><a href="{% url 'inventory:device_import_select' %}">Import Devices</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Deployment <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{% url 'inventory:program_index' %}">Programs</a></li>
                  <li><a href="#">Reports</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Setup</a>
    				</ul>
    			</div>
  			</div>
		</nav>
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <p class="message-box {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}<p>
        {% endfor %}
      {% endif %}
    </div>
    	{% block content %}
    	{% endblock content %}
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- Datatable jQuery Plugin -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
    <!-- Datatables BootStrap Inegration -->
    <script src="http://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <!-- Datatables responsive plugin -->
    <script src="http://cdn.datatables.net/responsive/1.0.6/js/dataTables.responsive.js"></script>
       <!-- Barcode Generator for print views -->
    <script src="{% static 'inventory/jquery-barcode.min.js' %}"></script>
    <script src="{% static 'inventory/tables.js' %}"></script>
    </body>
</html>