{% extends "inventory/base.html" %}

{% block content %}
<div class="container">
<div class="panel panel-default hidden-print">
	<div class="panel-heading"><h4>{{ device.name }}</h4></div>
	<div class="panel-body">
	<div class="container-fluid">
		<div class="row">
		<div class="col-md-6">
			<dl class="dl-horizontal">
				<dt>Serial Number</dt>
				<dd>{{ device.serial_number }}</dd>
				<dt>Model</dt>
				<dd>{{ device.model }}</dd>
				<dt>MAC Address</dt>
				<dd>{{ device.mac_address }}</dd>
			</dl>
		</div>
		<div class="col-md-6">
			<dl class="dl-horizontal">
				<dt>Assigned Student</dt>
				
				<dd>{% if device.student %}<a href="{% url 'inventory:student_show' device.student.student_id %}">{{ device.student }}</a>{% else %}Unassigned{% endif %}</dd>

				<dt>Program</dt>
				<dd>{% if device.program == 'None' %}<a href="{% url 'inventory:program_show' device.program.id %}">{% endif %}{{ device.program }}{% if device.program == 'None' %}</a>{% endif %}</dd>
				<dt>Status</dt>
				<dd>{{ device.status }}</dd>
			</dl>
		</div>
	</div>
	<div class="row">
		<div class="col-lg">
			<div class="btn-group" role="group" aria-label="...">
				<a type="button" class="btn btn-default" href="#">Edit Device</a>
				<a type="button" class="btn btn-default" href="javascript:window.print()">Print Device Label</a>
				<a type="button" class="btn btn-default" href="{% url 'inventory:device_search' %}">Back to Search</a>

			</div>
		</div>
	</div>
	</div>
</div>
</div>
</div>
<!-- HTML for Print View -->
<div class="print-label">
    	<span>Keansburg School District</span><br>
		<span>{{ device.name }}</span><br>
		<span>{{ device.model }}</span><br>
		<span>{{ device.student }}</span><br>
		<div id="mac_address" class="barcode">{{ device.mac_address }}</div>
    	<div id="serial_number" class="barcode">{{ device.serial_number }}</div>
    	<img id="logo" src="http://www.keansburg.k12.nj.us/cms/lib02/NJ01001933/Centricity/Domain/777/New%20Titan%20KT.png">
</div>
{% endblock content %}
