{% extends "inventory/base.html" %}

{% block content %}
<div class="container">
{% if student %}
	<h3>Device Assignment for {{ student.full_name }}</h3>
{% endif %}
<div class="panel panel-default">
	<div class="panel-heading">
		All Devices
	</div>
	<div class="panel-body">
	<div class="table">
		<table class="table table-striped display no-wrap" width = "100%">
			<thead>
			<tr>
				<th class="mobile-p tablet desktop">Device Name</th>
				<th class="tablet desktop">Model</th>
				<th class="tablet desktop">Serial Number</th>
				<th class="tablet desktop">MAC Address</th>
				<th class="tablet desktop">Assigned User</th>
				<th class="tablet desktop">Status</th>
			</tr>
		</thead>
		<tbody>
			{% for device in devices %}
				<tr>
					{% if student %}
						<td><a href="/students/{{ student.student_id }}/assign/{{ device.id }}/">{{ device.name }}</a></td>
					{% else %}
						<td><a href="{% url 'inventory:device_show' device.id %}" class="">{{ device.name }}</a></td>
					{% endif %}
					<td>{{ device.model }}</td>
					<td>{{ device.serial_number }}</td>
					<td>{{ device.mac_address }}</td>
					{% if device.student %}
					<td><a href="{% url 'inventory:student_show' device.student.student_id %}">{{ device.student }}</a></td>
					{% else %}
					<td>Unassigned</td>
					{% endif %}
					<td>{{ device.status }}</td>
				</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>
	</div>
</div>
</div>
{% endblock content %}
