{% extends "inventory/base.html" %}

{% block content %}

{% load widget_tweaks %}

<div class="panel panel-default">
	<div class="panel-heading"><h4>{{ user.full_name }}</h4></div>
	<div class="panel-body">
		<div class="container-fluid">
		<div class="row">
		<div class="col-md-6">
			<dl class="dl-horizontal">
				<dt>Student ID</dt>
				<dd>{{ user.student_id }}</dd>
				<dt>State ID</dt>
				<dd>{{ user.state_id }}</dd>
			</dl>
		</div>
		<div class="col-md-6">
			<form method="post" action="#" class="form-horizontal">
				{% csrf_token %}
				{% for field in form %}
				<div class="form-group">
					<label class="col-sm-2 label-control">{{ field.label }}</label>
					<div class="col-sm-10">
						{{ field|add_class:"form-control" }}
					</div>
				</div>
				{% endfor %}
				<button type="submit" class="save btn btn-default">Save</button>
				<a href="{% url 'inventory:showStudent' user.student_id %}" class="btn btn-default">Cancel</a>
			</form>
		</div>
		</div>
		
		</div>
	</div>
</div>

{% endblock content %}