{% extends "inventory/base.html" %}

{% block content %}
<div class="panel panel-default">
	<div class="panel-heading"><h4>{{ user.full_name }}</h4></div>
	<div class="panel-body">
	<div class="container-fluid">
		<div class="row">
		<div class="col-md-6">
			<dl class="dl-horizontal">
				<dt>Student ID</dt>
				<dd>{{ user.student_id }}</dd>
				<dt>State ID</dt>
				<dd>{{ user.state_id }}</dd>
				<dt>Status</dt>
				<dd>{{ user.get_status_display }}</dd>
			</dl>
		</div>
		<div class="col-md-6">
			<dl class="dl-horizontal">
				<dt>School</dt>
				<dd>{{ user.get_school_display }}</dd>
				<dt>Grade Level</dt>
				<dd>{{ user.get_grade_level_display }}</dd>
				<dt>Gender</dt>
				<dd>{{ user.get_gender_display }}</dd>
				<dt>Program</dt>
				<dd>{{ user.program.name }}</dd>
			</dl>
		</div>
	</div>
	<div class="row">
		{% if user.device_set.count > 0 %}
		<div class="col-lg">
			<h4>Assigned Devices</h4>
			<div class="table-responsive">
			<table class="table table-striped">
				<tr>
					<th>Device Name</th>
					<th>Serial Number</th>
					<th>MAC Address</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
				{% for device in user.device_set.all %}
					<tr>
						<td>{{ device.name }}</td>
						<td>{{ device.serial_number }}</td>
						<td>{{ device.mac_address }}</td>
						<td>{{ device.status }}</td>
						<td><a href="/students/{{ user.student_id }}/assign/{{ device.id }}/" class="btn btn-sm btn-primary">Check In</a></td>
					</tr>
				{% endfor %}
			</table>
			</div>
		</div>
		{% else %}
		<div class="col-lg">	
			<h4>No Devices Assigned</h4>
		</div>
		{% endif %}
	</div>
	<div class="row">
		<div class="col-lg">
			<div class="btn-group" role="group" aria-label="...">
				<a type="button" class="btn btn-default" href="{% url 'inventory:editStudent' user.student_id %}">Edit Student</a>
				<a type="button" class="btn btn-default" href="{% url 'inventory:device_search' user.student_id %}">Assign New Device</a>
				<a type="button" class="btn btn-default" href="{% url 'inventory:student_search' %}">Back to Search</a>

			</div>
		</div>
	</div>
	</div>
</div>
</div>
{% endblock content %}
