{% extends "inventory/base.html" %}

{% block content %}
<div class="panel panel-primary">
	<div class="panel-heading">User Search</div>
	<div class="panel-body">
	<form action="{% url 'inventory:student_search' %}" method="post" class="form">
	{% csrf_token %}
		<div class="form-group">
			<input type="text" class="form-control" name="search" id="search" placeholder="Search for users by name" {% if query %} value="{{ query }}" {% endif %}/>
		</div>
		<div class="form-group">
			<label class="label-control">Filter by Program</label>
			<select class="form-control" name="program">
				<option value="">All</option>
				{% for program in programs %}
				<option {% if program_id == program.id|escape %} selected="selected" {% endif %} value="{{ program.id }}">{{ program.name }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="form-group">
			<label class="label-control">Filter by Grade Level</label>
			<select class="form-control" name="grade">]
				<option value="">All</option>
				{% for grade in grades %}
				<option {% if grade_id == grade.0 %} selected="selected" {% endif %} value="{{ grade.0 }}">{{ grade.1 }}</option>
				{% endfor %}
			</select>
		</div>
		<input type="submit" class="btn btn-default form-control" value="Search" />
	</form>
</div>
</div>
{% if data %}
<div class="panel panel-default">
	<div class="panel-heading">
		Search Results for "{{ query }}"
	</div>
	<div class="panel-body">
		<div class="table-responsive">
		<table class="table table-striped">
			<tr>
				<th>Student ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Grade Level</th>
				<th>Gender</th>
				<th>School</th>
				<th>Program</th>
				<th>Actions</th>
			</tr>
			{% for user in data %}
				<tr {% if user.status == 'INACTIVE' %} class="danger" {% endif %}>
					<td><a href="{% url 'inventory:student_show' user.student_id %}" class="">{{ user.student_id }}</a></td>
					<td>{{ user.first_name }}</td>
					<td>{{ user.last_name }}</td>
					<td>{{ user.get_grade_level_display }}</td>
					<td>{{ user.get_gender_display }}</td>
					<td>{{ user.get_school_display }}</td>
					<td>{{ user.program }}</td>
					<td><a href="/students/{{ user.student_id }}/assign/" class="btn btn-xs btn-primary">{% if user.device_set.count == 0 %}Check Out Device{% else %}Check In Device{% endif %}</a></td>
					

				</tr>
			{% endfor %}
		</table>
		</div>
	</div>
</div>
{% endif %}
{% endblock content %}
