{% extends "inventory/base.html" %}

{% block content %}

	<table class="tables display">
		<thead>
			<tr>
				<th>Student ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Grade Level</th>
				<th>Gender</th>
				<th>School</th>
				<th>Program</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in data %}
				<tr {% if user.status == 'INACTIVE' %} class="danger" {% endif %}>
					<td><a href="{% url 'inventory:student_show' user.student_id %}" class="">{{ user.student_id }}</a></td>
					<td>{{ user.first_name }}</td>
					<td>{{ user.last_name }}</td>
					<td>{{ user.get_grade_level_display }}</td>
					<td>{{ user.get_gender_display }}</td>
					<td>{{ user.get_school_display }}</td>
					<td>{{ user.program }}</td>
					<td><a href="/students/{{ user.student_id }}/assign/" class="btn btn-xs btn-primary">{% if user.device_set.count == 0 %}Check Out Device{% else %}Check In Device{% endif %}</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	



{% endblock content %}
