{% extends "inventory/base.html" %}

{% block content %}
{% load widget_tweaks %}
<div class="container">
<h3>Student List</h3>
<p>Total Students: {{ students.count }}</p>
<div class="panel panel-default" id="studentFilterContainer">
	<div class="panel-heading">
		Filter by...
	</div>
	<div class="panel-body">
	<form method="post" action="{% url 'inventory:student_index' %}" class="form-inline">
		{% csrf_token %}
		{% for field in form %}
		<div class="form-group">
			<label class="control-label">{{ field.label }}</label>
			{{ field|add_class:"form-control" }}
		</div>
		{% endfor %}
		<div class="form-group">
			<button type="submit" class="save btn btn-primary form-control">Go</button>
		</div>
	</form>
</div>
</div>

	<table class="table table-striped display no-wrap" width="100%">
		<thead>
			<tr>
				<th class="mobile tablet desktop">Student Name</th>
				<th class="tablet desktop">Grade</th>
				<th class="tablet desktop">Gender</th>
				<th class="tablet desktop">School</th>
				<th class="tablet desktop">Program</th>
				<th class="tablet desktop">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for student in students %}
				<tr {% if student.status == 'INACTIVE' %} class="danger" {% endif %}>
					<td><a href="{% url 'inventory:student_show' student.student_id %}" class="">{{ student.full_name }}</a></td>
					<td>{{ student.get_grade_level_display }}</td>
					<td>{{ student.get_gender_display }}</td>
					<td>{{ student.get_school_display }}</td>
					<td>{{ student.program }}</td>
					<td><a href="/students/{{ student.student_id }}/assign/" class="btn btn-xs btn-primary">{% if student.device_set.count == 0 %}Check Out Device{% else %}Check In Device{% endif %}</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock content %}